/xls2sql/bin/Debug
/xls2sql/bin/Release
/xls2sql/obj/Debug
/xls2sql/obj/publish
/xls2sql/obj/Release
/xls2sql48/bin/Debug
/xls2sql48/bin/Release
/xls2sql48/obj/Debug
/xls2sql48/obj/Release
/xls2sql48/obj/publish
/packages
/xls2sql48/publish
